[user]
	email = scott.anderson@scandiweb.com
	name = Scott Anderson
[alias]
	pullff = !git pull --ff-only $1 $2 || git pull --no-ff $1 $2 && :
	currbr = "!git rev-parse --abbrev-ref HEAD"
	diffnames = !git diff --name-only $1
	fetchbr = !git fetch && git checkout $1
	stgdiff=diff --cached
	stashall=stash --include-untracked
	chp=cherry-pick
	doge=log --decorate --oneline --graph --all

